In [30]:

import geopandas
import pandas

In [5]:
shp = geopandas.read_file("data/nyu_2451_census_track_boundaries/nyu_2451_34513.shp")

In [4]:
geopandas.read_file("data/nyu_2451_census_track_boundaries/nyu_2451_34513.shp")

,statefp,countyfp,tractce,geoid,name,namelsad,mtfcc,funcstat,aland,awater,intptlat,intptlon,geometry
0,36,005,000100,36005000100,1,Census Tract 1,G5020,S,1579361,1125765,+40.7934921,-073.8835318,"POLYGON ((1012569.251 228983.702, 1013014.820 ..."
1,36,005,000200,36005000200,2,Census Tract 2,G5020,S,455322,926899,+40.8045733,-073.8568585,"POLYGON ((1021558.247 236060.696, 1021824.736 ..."
2,36,005,000400,36005000400,4,Census Tract 4,G5020,S,912392,602945,+40.8089152,-073.8504884,"POLYGON ((1023113.723 236337.849, 1023361.111 ..."
3,36,005,001600,36005001600,16,Census Tract 16,G5020,S,485079,0,+40.8188478,-073.8580764,"POLYGON ((1022690.148 238650.346, 1022944.985 ..."
4,36,005,001900,36005001900,19,Census Tract 19,G5020,S,1643654,1139660,+40.8009990,-073.9093729,"POLYGON ((1003183.626 233654.444, 1003368.472 ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2162,36,085,030302,36085030302,303.02,Census Tract 303.02,G5020,S,912276,0,+40.6235145,-074.1587313,"POLYGON ((937630.950 166078.535, 937701.560 16..."
2163,36,085,031901,36085031901,319.01,Census Tract 319.01,G5020,S,388050,0,+40.6303035,-074.1633211,"POLYGON ((938387.910 170164.119, 938544.211 17..."
2164,36,085,031902,36085031902,319.02,Census Tract 319.02,G5020,S,690540,302271,+40.6397947,-074.1657452,"POLYGON ((939374.328 174061.678, 939435.614 17..."
2165,36,085,032300,36085032300,323,Census Tract 323,G5020,S,3860467,461875,+40.6369269,-074.1761443,"POLYGON ((929575.923 170988.596, 929711.075 17..."
2166,36,085,990100,36085990100,9901,Census Tract 9901,G5020,S,0,80255169,+40.5255512,-074.1085829,"POLYGON ((912279.113 121584.378, 913206.591 11..."

In [48]:
population = geopandas.read_file("data/nyu_2451_34504_population_center/nyu_2451_34504.shp")

,tractid,tractnum,pop2010,bcode,latitude,longitude,notes,geometry
0,36005000100,000100,11091,36005,40.793356,-73.881698,None,POINT (1017006.932 228340.044)
1,36005000200,000200,4334,36005,40.811766,-73.859826,None,POINT (1023052.386 235056.380)
2,36005000400,000400,5503,36005,40.810343,-73.853387,None,POINT (1024835.669 234540.849)
3,36005001600,001600,5643,36005,40.819750,-73.859176,None,POINT (1023227.639 237965.523)
4,36005001900,001900,1917,36005,40.804472,-73.918385,None,POINT (1006844.808 232378.397)
...,...,...,...,...,...,...,...,...
2162,36085030302,030302,6369,36085,40.623551,-74.161232,None,POINT (939492.217 166494.014)
2163,36085031901,031901,3265,36085,40.631384,-74.163015,None,POINT (939002.570 169348.695)
2164,36085031902,031902,4848,36085,40.637767,-74.166833,None,POINT (937947.253 171676.185)
2165,36085032300,032300,1250,36085,40.633574,-74.171217,None,POINT (936727.536 170150.913)
2166,36085990100,990100,0,36085,40.525551,-74.108582,Tract consists entirely of water,POINT (954063.519 130767.703)

In [55]:
population

          tractid pop2010
0     36005000100   11091
1     36005000200    4334
2     36005000400    5503
3     36005001600    5643
4     36005001900    1917
...           ...     ...
2162  36085030302    6369
2163  36085031901    3265
2164  36085031902    4848
2165  36085032300    1250
2166  36085990100       0

[2167 rows x 2 columns]

In [36]:
income = geopandas.read_file("data/nyc2017_income/ACS_17_5YR_DP03_with_ann.csv")

In [44]:
income.columns.values.tolist()
income=income.drop('geometry',axis=1)

In [57]:
income = income.drop('Id', axis=1)

In [59]:
shp_pop = shp.merge(population, left_on=["geoid"], right_on=["tractid"])
shp_pop_income=shp_pop.merge(income, left_on=["geoid"], right_on=["Id2"])
shp_pop_income

,statefp,countyfp,tractce,geoid,name,namelsad,mtfcc,funcstat,aland,awater,intptlat,intptlon,geometry,tractid,pop2010,Id2,2017householdIncome
0,36,005,000100,36005000100,1,Census Tract 1,G5020,S,1579361,1125765,+40.7934921,-073.8835318,"POLYGON ((1012569.251 228983.702, 1013014.820 ...",36005000100,11091,36005000100,0
1,36,005,000200,36005000200,2,Census Tract 2,G5020,S,455322,926899,+40.8045733,-073.8568585,"POLYGON ((1021558.247 236060.696, 1021824.736 ...",36005000200,4334,36005000200,1321
2,36,005,000400,36005000400,4,Census Tract 4,G5020,S,912392,602945,+40.8089152,-073.8504884,"POLYGON ((1023113.723 236337.849, 1023361.111 ...",36005000400,5503,36005000400,1935
3,36,005,001600,36005001600,16,Census Tract 16,G5020,S,485079,0,+40.8188478,-073.8580764,"POLYGON ((1022690.148 238650.346, 1022944.985 ...",36005001600,5643,36005001600,1962
4,36,005,001900,36005001900,19,Census Tract 19,G5020,S,1643654,1139660,+40.8009990,-073.9093729,"POLYGON ((1003183.626 233654.444, 1003368.472 ...",36005001900,1917,36005001900,969
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2052,36,081,157902,36081157902,1579.02,Census Tract 1579.02,G5020,S,722673,0,+40.7415842,-073.7119995,"POLYGON ((1062495.330 210472.210, 1062725.627 ...",36081157902,3836,36081157902,1108
2053,36,081,157903,36081157903,1579.03,Census Tract 1579.03,G5020,S,689129,0,+40.7338110,-073.7075358,"POLYGON ((1063832.606 207684.304, 1064082.067 ...",36081157903,3944,36081157903,1270
2054,36,081,161700,36081161700,1617,Census Tract 1617,G5020,S,713611,0,+40.7287767,-073.7176380,"POLYGON ((1061105.246 205969.344, 1061454.915 ...",36081161700,4297,36081161700,1527
2055,36,081,162100,36081162100,1621,Census Tract 1621,G5020,S,713319,0,+40.7284452,-073.7296877,"POLYGON ((1057110.245 204913.576, 1057268.650 ...",36081162100,6197,36081162100,1915
2056,36,081,990100,36081990100,9901,Census Tract 9901,G5020,S,0,122602887,+40.5401732,-073.8909698,"POLYGON ((985059.448 142309.727, 995443.210 14...",36081990100,0,36081990100,0

In [61]:
s = geopandas.GeoDataFrame(shp_pop_income, geometry='geometry')

In [62]:
s.to_file('merged.shp')